.homeitem-display{
    display: flex; flex-wrap: wrap;
}
.homeitem-summary{
    width: 60%;
    padding: 1rem;
    font-size: 0.75rem;
}
.homeitem-img{
    width: 40%;
}
.img-person{
    border-radius: 3rem;
}
.homeitem-description{
    width: 100%;
    font-size: 0.8rem;
}
@media (max-width: 768px){
    .homeitem-summary{
        width: 100%;
    }
    .homeitem-img{
        width: 100%;
    }   
}

.papers-list, .books-list, .courses-list{
    list-style-type: none;
}

.books-item{
    display: flex; flex-wrap: wrap;
}
.books-img{
    width: 40%;
    /* padding: 1rem; */
}
.books-description{
    width: 60%;
    padding: 1.0rem;
}

.courses-item{
    display: flex; flex-wrap: wrap;
}
.courses-img{
    width: 50%;
    /* padding: 1rem; */
}
.courses-description{
    width: 50%;
    padding: 1.0rem;
    padding-top: 0rem;
}
.courses-description h3{
    margin-top: 0rem;
}
.courses-description p{
    font-size: 1.0rem;
}

.papers-item{
    background-color: #fefefe;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-radius: 0.4rem;
}
.paper-tag{
    background-color: #eee;
    padding: 0.3rem;
    font-size: 0.6rem;
    font-weight: bold;
    display: inline-block;
    
}
.course-tag{
    background-color: #eee;
    padding: 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    
}
.paper-authors{
    font-size: 0.75rem;
}
.search-tag{
    cursor: pointer;
    
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.search-tag[data-active="true"]{
    background-color: #2d2d2d;
    color: white;
}
